@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    src: url('../../shared/assets/fonts/SF-Pro-Display-Regular.otf') format('opentype'); 
  }
  
  @font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    src: url('../../shared/assets/fonts/SF-Pro-Display-Medium.otf') format('opentype'); 
  }