:root {
    --bg-color: #F1F4F9;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    //colors
    --text-black: #122945;
    --text-header: #899CB1;
    --content-bg: #FFFFFF;
    --icon-primary-color: #ADBFDF;
    --avatar-bg: #EAF0FA;
    --card-border-color: #EAF0FA;
    --red: #EA1A4F;
    --card-hover: #D4DFF32B;
    --light-green:#DBF8EF;
    --green: #28A879;
    --light-red: #FEE9EF;
    --ui-secondary: #D8E4FB;
    --white: #FFFFFF;
    --text-secondary: #5E7793;
    --select-hover: #DEE4FF;
    --accent: #002CFB;
    --text-blue: #015EF5;
    --select-text-black: #2B2D33;

  }