
 .calendar {
    display: flex;
    align-items: center;
    position: relative;

  }

  .info {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 21.5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: var(--accent);
  }

  .arrowLeft {
   transform: rotate(-90deg); 
  }

  .arrowRight {
    transform: rotate(90deg);
  }

  .arrowLeft, .arrowRight {
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: var(--icon-primary-color);

    &:hover {
      fill: var(--accent);
    }
    &:disabled {
        fill:var(--icon-primary-color);
        
    }
  }

  .calendarIcon {
    margin-right: 8px;
    fill: var(--icon-primary-color);

    &:hover {
      fill: var(--accent);
    }
  }

  .datesSelect {
    svg {
      display: none;
    }
  }

  .dates {
    margin-top: 5px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;

    &.open {
      display: flex;
    }
  }

  .button {
    margin-left: 29px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .datesIcon {
    fill: var(--icon-primary-color);

    &:hover {
      fill: var(--accent)
    }
  }